* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url('../imagens/toalha.jpg'); /* caminho da imagem */
  background-size: cover;              /* cobre toda a área */
  background-position: center;         /* centraliza a imagem */
  background-repeat: no-repeat;        /* evita repetição */
  /* background-color: rgba(0, 90, 12, 0.521); */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0;
  overflow-y: auto;
}

/* Classes do Header */

a {
  text-decoration: none;
  color: inherit;
}

header{
  background-color: none;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  margin: 0;
}

header>a>div{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  justify-content: center;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); */
  border-radius: 12px;
  cursor: pointer;
  border: solid 1px ;
  
}

header>div>img{
  width: 100px;
  height: 100px;
  border-radius: 12px;
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); */
}

.headerSelected{
  background-color: rgb(0, 90, 12);
  color: white;
  font-weight: bold;
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); */
  
}
.div-logo{
  background-color: none;
  box-shadow: none;
  padding-right: 50px; 
}



/* DIV do Conteúdo Principal */

button:hover{
  background-color: dimgray;
  color: #f2f2f2;
}
h1{
  text-align: center;
  font-size: 23pt;
  color: white;
  padding: 9px;
}
.containerTudo{
  background-color: #f2f2f2;
  max-width: 1800px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  flex-wrap: wrap;
  border-radius: 12px;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
  
}



.containerTudo2{
  width: 700px;
  
}



div>h1{
  color: rgb(255, 255, 255);
  padding-top: 50px;
}
.containerForm h1{
  color: rgb(0, 0, 0);
  padding-top: 15px;

}
form>h1{
  color: white;
  padding-top: 15px;
}
fieldset>h1{
  color: white;
  padding-top: 15px;
}
span>h1{
  color: white;
  padding-top: 15px;
}
input, button {
  margin: auto; /* centraliza horizontalmente */
  display: block;
  border-radius: 6px;
  padding: 5px;
  
}

button{
  width: 60%;
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  font-weight: 700;
  cursor: pointer;
  border-color: black;
}

input{
  height: 25px;
  width: 100%;
  border-color: black;
}
textarea{
  font-family: sans-serif;
  height: 40px;
  width: 100%;
  padding: 5px;
  resize: none;
  overflow: auto;
  border-color: black;
}


/* DIV da esquerda (opções) */


.containerOptions {
  display: flex;
  flex-direction: column;
  background-color: #bb0000;
  width: 30%;
  max-width: 200px;
  height: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 0 0 1px #333; /* corrige pixels brancos no canto arredondado */
}
.centralizarDivOptions{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center; 
}

.containerOptions, .containerForm {
  flex: 1;
}

.btnOptions{
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* border-top-right-radius: 80px;
  border-bottom-right-radius: 80px; */
  width: 100%;
  margin: 0;
  /* border-color: #ccc; */
  border-right: none;
  border-left: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}
.selectedOption {
  background-color: rgb(0, 90, 12);
  color: rgb(255, 255, 255);
}

.sideoptions {
  align-content: center;
  padding: 50px;
}


/* DIV da direita (form) */
.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 80%;
  min-height:500px ;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 35px;
  box-shadow: 0 0 0 1px #333; /* corrige pixels brancos no canto arredondado */
}

.containerForm2 {
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  box-shadow: 0 0 0 1px #333; /* corrige pixels brancos no canto arredondado */

}

.pizza{
  display: flex;
  flex-direction: row;
}

.letra-menor{
  font-size: 17pt;
}

.no-border-radius{
  border-radius: 0;
}

label{
  color: rgb(0, 0, 0);
  font-size: 10pt;
}

input::placeholder{
  font-size: 9pt;
}

.btnVoltar{
    width: 60%;
    background-color: #f2f2f2;
    color: black;
    font-weight: 700;
}

.catalogo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(255, 255, 255);
  min-height:500px ;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 35px;
}

.busca-cliente{
  width: 400px;
}

.busca-de-pizza{
  width: 400px;
}

.centralizar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.em-coluna{
  display: flex;
  flex-direction: column;
}
.em-linha{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.borda{
  border: solid 1px;
  padding: 20px;
}

.borda-direita{
  border-right: solid 1px;
}

.arredondada{
  border-radius: 12px;
}

.item-pedido{
  width:33%;
}